@inject MainInterop MainInterop
@inject UserService UserService
@inject IStorageService StorageService 
@inject IPopupService PopupService 

<MApp Id="@Id">
    <MForm @ref="_form" Model="Input" EnableValidation >
        <div class="d-flex align-center" style="height:calc(100% - 96px)">

            <MCard Width=510 Height=680 Class="mx-auto my-auto">
                <div style="height:60px;"></div>
                <div class="mt-2 mx-auto text-center" style="width:420px;">
                    <MAvatar Size=80>
                        <MImage Src="/favicon.png">
                        </MImage>
                    </MAvatar>
                    <h5 class="mt-2 mb-12">欢迎使用Gotrya客户端！</h5>

                    <MTextField @bind-Value="Input.Account"
                                Label="账号"
                                Placeholder="请输入您的账号或手机号"
                                Outlined
                                HideDetails="@("auto")">
                    </MTextField>
                    <MTextField @bind-Value="Input.Password"
                                Class="mt-10"
                                Label="密码"
                                Type="@(_show ? "text" : "password")"
                                Placeholder="请输入您的密码"
                                AppendIcon="@(_show ? "mdi-eye" : "mdi-eye-off")"
                                OnAppendClick="() => _show = !_show"
                                Outlined
                                HideDetails="@("auto")">
                    </MTextField>
                    <span class="d-flex justify-end mt-1 text-caption hover-pointer">
                        忘记密码？
                    </span>
                    <MButton Type="submit" OnClick="OnClick" Class="mt-11 rounded-4 text-btn white--text" Height=46 Width=340 Color="primary">登录</MButton>

                    <div class="my-6">
                        <span class="text-btn">没有账号? &nbsp;</span>
                        <span class="primary--text hover-pointer">注册账号</span>
                    </div>
                </div>
            </MCard>
        </div>
    </MForm>

</MApp>